<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.equinox.http.registry.servlets">
      	
      <servlet
            alias="/router"
            class="org.nasdanika.cdo.web.CDOTransactionRoutingServlet" httpcontextId="org.nasdanika.tracker">
         <init-param
               name="json-pretty-print"
               value="true">
         </init-param>
         <init-param
               name="default-access-decision"
               value="allow">
         </init-param>
         <init-param
               name="user-name-header"
               value="X-Forwarded-User">
         </init-param>
      </servlet>
	   
   </extension>
   
	
   <extension point="org.nasdanika.web.route">
   
      <root-route
            class="org.nasdanika.cdo.web.routes.RedirectToPrincipalHomeRoute"
            method="GET"
            path="index.html">
      </root-route>
     
      <eobject-route
            class="org.nasdanika.tracker.web.route.TrackerRoute"
            method="*"
            path="/"
            target="Tracker"
            target-namespace-uri="urn:org.nasdanika.tracker">
      </eobject-route>
      
    </extension>
   
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            base-name="WebContent">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="org.nasdanika.tracker">
      </httpcontext>
   </extension>   
</plugin>
