<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" immediate="true" name="Tracker CDO Session Provider Server Component">
   <implementation class="org.nasdanika.cdo.CDOSessionProviderServerComponent"/>
   <reference 
   		bind="addRepository" 
   		cardinality="1..1" 
   		interface="org.nasdanika.cdo.RepositoryProvider" 
   		name="RepositoryProvider" 
   		policy="static" 
   		target="(component.name=tracker-repository)" 
   		unbind="removeRepository"/>
   <property name=".acceptors" type="String" value="jvm:nasdanika-shinobi-tracker"/>
   <property name=".repositoryName" type="String" value="nasdanika-shinobi-tracker"/>
   <property name=".connector" type="String" value="jvm:nasdanika-shinobi-tracker"/>
   <service>
      <provide interface="org.eclipse.emf.cdo.session.CDOSessionProvider"/>
   </service>
   <property name="alias" type="String" value="nasdanika-shinobi-tracker"/>
   <reference 
   		bind="addSessionInitializer" 
   		cardinality="1..1" 
   		interface="org.nasdanika.cdo.CDOSessionInitializer" 
   		name="CDOSessionInitializer" 
   		policy="static" 
   		target="(component.name=tracker-session-initializer)" 
   		unbind="removeSessionInitializer"/>
   		
</scr:component>
